node_modules
**/node_modules
**/dist
**/.next
**/.turbo
**/coverage
**/.env
**/.env.*
!**/.env.production.example
!**/.env.example
.git
.github
.vscode
.idea
*.md
!README.md
*.log
**/whatsapp_qr*.png
**/wppconnect.config.json
RELATORIO.md
